*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.nav-bar UL{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-bar UL li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    

}
.user-name{
    font-size: 1rem;
    color: white;
    background-color: rgb(79, 79, 160);
    padding: 20px 30px;
    border-radius: 10px;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88vh;
    gap: 40px;
    margin: 0 50px;
    padding:20px 80px;
}
.left h1{
    font-size: 5.5rem;
}
.left h2{
    font-size: 2.5rem;
    color: blue;
}
.left button{
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 1.2rem;
    background-color: rgb(79, 79, 160);
    color: white;
    border-radius: 20px;
    
}
.right img{
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
}
